<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="strConexao"
            connectionString="Data Source=OPN02\SQLEXPRESS;Initial Catalog=PizzariaSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>